@CHARSET "ISO-8859-1";
p {
	text-indent:50px;
	width: 90%;
	margin-left: 5%;
}

li {
	margin-top: 30px;	
}
td {
	text-align: center;	
}
body {
	background-color: black;	
}
.border {
	border-style: solid;	
}
.main {
	background-color: white;
	border: black 1px solid;
	position: absolute;
	height: 1650px;
	width: 1000px;
	display: table-cell;
	vertical-align: middle;
	left: 50%;
	margin-left: -450px;
}
.header {
	border: solid 4px #005825;
	height: 150px;
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.sideTab {
	background-color: #005825;
	border: black 1px solid;
	display: table;
	position: relative;
	height: 50px;
	line-height: 47px;
	width: 180px;
	top: 60px;
	left: 25px;
	margin-top: 5px;
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 14pt;
	font-weight: bold;
}
.side {
	display: table;
	position: relative;
	top: 60px;
	left: 25px;
	margin-top: 5px;
	border: black 1px soild;	
}
.outerContent {
	position: absolute;
	height: 1400px;
	width: 75%;
	top: 220px;
	right: 30px;
}
.innerContent {
	position: absolute;
	visibility: hidden;
	width: 100%;
}
.emphasis {
	font-weight: bold;
	text-decoration: underline;	
}
.smallHeader {
	font-size: 20px;	
}
.smallerHeader {
	font-size: 16px;
}
.qaLabel {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}
.question {
	text-indent: 0px;
	color: red;
}
.answer {
	text-indent: 0px;	
	color: blue;
	border-bottom: solid 3px black;
}
.counter {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}
.counterImages {
	display: table-cell;
	position: relative;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
.homeImageWrapper {
	background-color: #005825;
	text-align: center;
	display: table;
	margin: auto;
	margin-top: 10px;	
}
.phoneNumbers {
	margin-top: 5px;
	white-space: pre;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	color: #005825;
}