@CHARSET "ISO-8859-1";
.main {
	border: black 1px solid;
	position: absolute;
	height: 1000px;
	width: 900px;
	display: table-cell;
	vertical-align: middle;
	left: 50%;
	margin-left: -450px;
}

.header {
	border: black 1px solid;
	height: 10%;
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.sideTab {
	background-color: blue;
	border: black 1px solid;
	display: table;
	position: relative;
	height: 50px;
	line-height: 47px;
	width: 15%;
	top: 50px;
	left: 10px;
	margin-top: 5px;
	text-align: center;
	color: black;
	text-decoration: none;
}

.outerContent {
	border: black 1px solid;
	position: absolute;
	height: 75%;
	width: 75%;
	top: 150px;
	right: 30px;
}

.innerContent {
	position: absolute;
	visibility: hidden;
	width: 100%;
}

p {
	text-indent:50px;
	width: 90%;
	margin-left: 5%;
}

li {
	margin-top: 30px;	
}

.emphasis {
	font-weight: bold;
	text-decoration: underline;	
}

.smallHeader {
	font-size: 20px;	
}

.smallerHeader {
	font-size: 16px;
}

.qaLabel {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.question {
	text-indent: 0px;
	color: red;
}
	
.answer {
	text-indent: 0px;	
	color: blue;
	border-bottom: solid 3px black;
}